<%- include('./partials/header.ejs') %>  

<div class="body-container d-flex pt-3 pb-3">
    <div class="event-info">
        <h3>About</h3>
        <p> Foodie Fiestas is your passport to a culinary adventure like no other! We're your trusted guide to exploring the world of flavors, from the comfort of your own home or by joining us at our carefully curated culinary events.
            <br><br>
            Whether you're a seasoned chef or an amateur cook, we've got something for everyone. Discover the secrets of gourmet cooking, embark on a gastronomic journey through diverse cuisines, and connect with fellow food enthusiasts who share your love for all things delicious.
            <br><br>
            At Foodie Fiestas, we believe that food is not just about sustenance; it's a form of art, culture, and storytelling. Join us in celebrating the artistry of cuisine and embark on a culinary adventure that will leave you craving for more. Indulge your senses, expand your palate, and join the Foodie Fiestas community today! </p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>