<%- include('./partials/header.ejs') %>  

<div class="body-container d-flex pt-3 pb-3">
    <div class="event-info">
        <h3>Contact</h3>
        <p><strong>Address:</strong>
            <br>1234 Foodie Street <br>
            Culinary Town, Foodlandia<br>
            FLAVOR 12345<br>
            Foodie Nation<br>
            
            <strong>Phone Number:</strong>
            <br>(555) 123-4567 </p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>