<%- include('./partials/header.ejs')%>

    <div class="body-container d-flex">
        <div>
            <h3><%= error.status %> Error</h3>
            <p><%= error.message %></p>
        </div>
    </div>

<%- include('./partials/footer.ejs')%>