<%- include('./partials/header.ejs') %>  

<div class="body-container d-flex">
    <div class="event-info">
        <h3>Welcome</h3>
        <p> Prepare your taste buds for a culinary adventure like no other!
            <br><br>
            We're thrilled to have you join us on a gastronomic journey filled with delectable delights and flavor-packed experiences. Foodie Fiestas is your passport to savor the world, one bite at a time.
            <br><br>
            Get ready to explore an array of mouthwatering dishes, discover new flavors, and celebrate the art of food. Whether you're a dedicated foodie or simply looking to sate your curiosity, our events promise unforgettable tastes and tantalizing moments.
            <br><br>
            So, bring your appetite, your enthusiasm, and your sense of culinary adventure. Let's embark on a delicious expedition together!
            <br><br>
            Bienvenidos, Bon Appétit, and let's dig in! </p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>