footer {
    background-color: #84B7C3;
    display: flex;
    align-content: center;
}


.active{
    background-color: #ffffff1d;
    border-radius: 1em;
}

.icon-fill {
    fill:#FFFFFF;
}

.icon-fill:hover {
    fill:#FFC3AB;
}