.top-nav{
    margin-left: 1em; 
    margin-right: 1em; 
}

.bottom-nav {
    margin-left: 1em; 
    margin-right: 1em; 
}

.divider {
    border-bottom: 2px solid #E87121;
    margin-left: 1em; 
    margin-right: 1em; 
}

.nav-link {
    color: #E5E5E5 !important;
}

.nav-link:hover {
    color: #e8813d !important;
}

.nav-link:active {
    color: #E87121 !important;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 1em;
}

#logo {
    width: 100%;
}

.top-container {
    background-color: #333333;
}